@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-100: 32 60% 88%;
    --primary-300: 32 62% 74%;
    --primary-500: 32 65% 62%;
    --primary-700: 32 66% 44%;
    --primary-900: 32 70% 30%;

    --secondary-100: 74 35% 78%;
    --secondary-300: 74 34% 56%;
    --secondary-500: 74 32% 32%;
    --secondary-700: 74 36% 22%;
    --secondary-900: 74 40% 14%;

    --surface: 46 100% 97%;
    --text-1: 88 38% 15%;
    --text-2: 46 100% 97%;
    --accent: 28 67% 44%;
}

[x-cloak] {
    display: none !important;
}
