@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-100: 260 100% 95%;
    --primary-300: 258 90% 80%;
    --primary-500: 255 85% 60%;
    --primary-700: 255 75% 50%;
    --primary-900: 255 70% 35%;

    --secondary-100: 0 0% 20%;
    --secondary-300: 0 0% 16%;
    --secondary-500: 0 0% 12%;
    --secondary-700: 0 0% 9%;
    --secondary-900: 0 0% 6%;

    --surface: 0 0% 98%;
    --text-1: 0 0% 10%;
    --text-2: 0 0% 100%;
    --accent: 76 91% 63%;
}

[x-cloak] {
    display: none !important;
}
